# This file's format is documented at
# https://forge.rust-lang.org/triagebot/pr-assignment.html#configuration

# ------------------------------------------------------------------------------
# Labels
# ------------------------------------------------------------------------------

[relabel]
allow-unauthenticated = [
    "needs-triage",
    "S-*",
    "C-*",
]

# ------------------------------------------------------------------------------
# General autolabels
# ------------------------------------------------------------------------------

[autolabel."needs-triage"]
new_issue = true
exclude_labels = [
    "C-tracking-issue",
]

# ------------------------------------------------------------------------------
# PR review
# ------------------------------------------------------------------------------

[autolabel."S-waiting-on-review"]
new_pr = true

[autolabel."S-waiting-on-author"]
new_draft = true

[review-submitted]
# This label is added when a "request changes" review is submitted.
reviewed_label = "S-waiting-on-author"
# These labels are removed when a "request changes" review is submitted.
review_labels = ["S-waiting-on-review"]

[review-requested]
# Those labels are removed when PR author requests a review from an assignee
remove_labels = ["S-waiting-on-author"]
# Those labels are added when PR author requests a review from an assignee
add_labels = ["S-waiting-on-review"]

# ------------------------------------------------------------------------------
# PR assignments
# ------------------------------------------------------------------------------

[assign]
